html {
  background-color: #F8F9F9;
}


body {
  
  background-color: #EFEFEF;

}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}


div {
   width:80vw;
   height:80vh;
}
img {
   max-width:100%;
   height:auto;
   max-height:100%;
  display: block;
  margin: 0 auto;
}

/* Sorce: for color and block:
https://developer.mozilla.org/en-US/docs/Learn
*/